.social-icon i {
    padding-right: 8px;
    margin-top: 50px;
    cursor: pointer;
}
.footer-menu {
    list-style: none;
}
.footer-menu li{
    text-align: justify;
    cursor: pointer;
}
.footer-header{
    color: rgb(255, 183, 0);
}
.footer-text{
    color: rgba(197, 195, 192, 0.904);
    text-align: center;
    margin-bottom: 3px;
}